.card3-container {
  border: 2px dashed rgba(0, 0, 0, 0);
  font-size: 16px;
  padding: 16px;
  background-color: white;
  cursor: pointer;
}

.title-text-container {
  display: flex;
}

.title-text{
  font-weight: bold;
}

.content-text{
  margin-top: 8px;
}